.container {
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

#content {
    padding: 1.4rem;
    grid-column: 2;
    grid-row: 2;
}

a {
    font-weight: normal;
}

.nav {
    grid-column: 2;
}

.nav-fixed {
	position: sticky;
	top: 0;
	padding-bottom: 10px;
} 

#underline {
    text-decoration: underline;
}



