.container {
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

#content {
    padding: 1.4rem;
    grid-column: 2;
    grid-row: 2;
}

a {
    font-weight: normal;
}

.nav {
    grid-column: 2;
}

.nav-fixed {
	position: sticky;
	top: 0;
	padding-bottom: 10px;
} 

#underline {
    text-decoration: underline;
}


/* CitySet */
.cityBody {
    background-color: #E0697B;
    margin: 0 0;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

circle {
    fill:rgb(255, 237, 176);
    
}
